set timeout=8
set default=3

set gfxmode=text
set gfxpayload=text
terminal_output console
terminal_input console

menuentry "Bogbin Research Kernel (Multiboot1)" {
    set gfxpayload=text
    multiboot /boot/bogk-kernel
    boot
}

menuentry "Bogbin Research Kernel (serial debug)" {
    set gfxpayload=text
    multiboot /boot/bogk-kernel console=serial
    boot
}

menuentry "Bogbin Research Kernel (baremetal receipt)" {
    set gfxpayload=text
    multiboot /boot/bogk-kernel platform=baremetal firmware=bios
    boot
}

menuentry "Bogbin hardware smoke (screen + halt)" {
    set gfxpayload=text
    multiboot /boot/bogk-kernel platform=baremetal firmware=bios halt_after_phase1
    boot
}