set timeout=8
set default=0

menuentry "Bogbin MB1 framebuffer magenta proof" {
    insmod all_video
    insmod gfxterm
    insmod multiboot

    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm

    multiboot /boot/bogk-kernel halt_after_phase1 fb_proof=magenta
    boot
}

menuentry "Bogbin MB2 framebuffer magenta proof" {
    insmod all_video
    insmod gfxterm
    insmod multiboot2

    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm

    multiboot2 /boot/bogk-mb2 halt_after_phase1 fb_proof=magenta
    boot
}

menuentry "Bogbin Research Kernel (Multiboot1)" {
    insmod multiboot
    set gfxpayload=keep
    multiboot /boot/bogk-kernel
    boot
}

menuentry "Bogbin Research Kernel (serial debug)" {
    insmod multiboot
    set gfxpayload=keep
    multiboot /boot/bogk-kernel console=serial
    boot
}

menuentry "Bogbin Research Kernel (baremetal receipt)" {
    insmod multiboot
    set gfxpayload=keep
    multiboot /boot/bogk-kernel platform=baremetal firmware=uefi
    boot
}

menuentry "Bogbin hardware smoke (screen + halt)" {
    insmod multiboot
    set gfxpayload=keep
    multiboot /boot/bogk-kernel platform=baremetal firmware=uefi halt_after_phase1
    boot
}